
:root{
  --primaryColor : #ff914d;
  --secondaryColor : #C1DDEF;
  --secondarColorHover: #71c1f3;
  --tertiaryColor : #895a30;
}

  /* carrusel */
  .carrousel-img{
   height: 500px;
   width: auto;
  }



  /* filtro de cards  */
  .container {
    overflow: hidden;
    float: center;

  }
  
  .filterDiv {
    float:left;
    width: fit-content;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    padding: 30px;

  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  #myBtnContainer{
      padding-top:30px;
      padding-bottom:30px;
  }

  #myBtnContainer .btn{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

#myBtnContainer .btn:hover{
  background-color: var(--secondarColorHover);
}

  /* card */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
    margin: auto;
    text-align: center;
    font-family: arial;
    max-width: 286px;
    max-height: 583px;
  }

  .card .card-img-top{
      height: 429px;
      width: 286px;
  }
   .card-body{
       color: #000;
   }

   .card .btn{
     background-color: var(--primaryColor);
   }

   .card .btn:hover{
    background-color: var(--secondarColorHover);
  }

  .bookList{
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  }